ENV=dev

JWT_SECRET_KEY=oDPu4gHlBSqAUe9Tnfm8W61clkqmGFDJIcNJcTNvTE2
JWT_EXPIRES_IN=24h
JWT_ISSUER=platform-ai-backend
JWT_AUDIENCE=platform-ai-backend-audience

FIREBASE_PROJECT_ID=xxx
FIREBASE_CLIENT_EMAIL=xxx
FIREBASE_PRIVATE_KEY=xxx

REDIS_URL=redis://localhost:6379
DATABASE_URL=postgresql://postgres.cjsowmznqitorzxxjgzr:Orbitaisystem_8899@aws-1-ap-northeast-1.pooler.supabase.com:5432/postgres
MONGO_URI=mongodb+srv://orbitai:P1Zi8qcFPXIUqwUR@defaultcluster.hrwpa7m.mongodb.net/dev