ENV=dev

JWT_SECRET_KEY=oDPu4gHlBSqAUe9Tnfm8W61clkqmGFDJIcNJcTNvTE2
JWT_EXPIRES_IN=24h
JWT_ISSUER=platform-ai-backend
JWT_AUDIENCE=platform-ai-backend-audience

FIREBASE_PROJECT_ID=xxx
FIREBASE_CLIENT_EMAIL=xxx
FIREBASE_PRIVATE_KEY=xxx

REDIS_URL=redis://user:password@url.redislabs.com:00000
DATABASE_URL=postgresql://user:password@url:5432/database_name
MONGO_URI=mongodb+srv://user:password@url/dev
DNS_SERVERS=1.1.1.1,8.8.8.8
AI_SERVICE_URL=
